<!--<div class="container">-->
  <!--<h3>Users table</h3>
  <table class="table table-bordered" >
   <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody class="list-group users" *ngFor = "let user of users">
    <tr>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td> 
    </tr>
    </tbody>
 </table>
 </div>-->