<h1>
  {{title}}
</h1>
<app-users>loading...</app-users>
<app-demo>loading..</app-demo>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Firebase Crud</a>
    </div>
    <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="app-content">
  <router-outlet></router-outlet>
</div>
